<footer class="footer text-white">
    <div class="wrapper">
        <div class="main-container py-5">
            <div class="row text-center text-md-center">
                <div class="col-12 col-lg-2 d-flex align-items-start footer-logo-wrapper">
                    <img src="./assets/images/logo.jpg" alt="NepNutrition" class="img-fluid footer-logo">
                </div>

                <!--This Section for desktop view menu listing-->
                <div class="col-lg-3 col-md-6 col-12 mb-4 mb-lg-0 d-md-block d-none">
                    <p class="fw-medium">Quick Links</p>
                    <ul class="list-unstyled footer-nav mb-0">
                        <li class="me-0"><a class="nav-item text-decoration-none" href="../authenticity.html">News</a></li>
                        <li class="me-0"><a class="nav-item text-decoration-none" href="../authenticity.html">Authenticity</a>
                        </li>
                        <li class="me-0"><a class="nav-item text-decoration-none" href="../authenticity.html">Insights</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-6 col-12 mb-5 mb-lg-0 d-md-block d-none">
                    <p class="fw-medium">Categories</p>
                    <ul class="list-unstyled footer-nav mb-0">
                        <li class="me-0"><a class="nav-item text-decoration-none" href="../authenticity.html">Black Line</a></li>
                        <li class="me-0"><a class="nav-item text-decoration-none" href="../authenticity.html">Gold Line</a>
                        </li>
                        <li class="me-0"><a class="nav-item text-decoration-none" href="../authenticity.html">Silver Line</a>
                        </li>
                    </ul>
                </div>

                <!--This Section for mobile view menu listing-->
                <div class="col-12 d-md-none d-block mb-md-0 mb-4">
                    <div class="accordion" id="menuAccordion">
                        <div class="accordion-item bg-transparent">
                            <h2 class="accordion-header">
                                <button class="accordion-button collapsed py-3 px-2 bg-transparent text-white shadow-none" type="button" data-bs-toggle="collapse" data-bs-target="#menuAccordion-collapseTwo" aria-expanded="false" aria-controls="menuAccordion-collapseTwo">
                                    Quick Links
                                </button>
                            </h2>
                            <div id="menuAccordion-collapseTwo" class="accordion-collapse collapse">
                                <div class="accordion-body p-3 border-top">
                                    <ul class="list-unstyled footer-nav mb-0">
                                        <li class="me-0"><a class="nav-item text-decoration-none d-block" href="../authenticity.html">News</a></li>
                                        <li class="me-0"><a class="nav-item text-decoration-none d-block" href="../authenticity.html">Authenticity</a>
                                        </li>
                                        <li class="me-0"><a class="nav-item text-decoration-none d-block" href="../authenticity.html">Insights</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item bg-transparent">
                            <h2 class="accordion-header">
                                <button class="accordion-button collapsed py-3 px-2 bg-transparent text-white shadow-none" type="button" data-bs-toggle="collapse" data-bs-target="#menuAccordion-collapseThree" aria-expanded="false" aria-controls="menuAccordion-collapseThree">
                                    Categories
                                </button>
                            </h2>
                            <div id="menuAccordion-collapseThree" class="accordion-collapse collapse">
                                <div class="accordion-body p-3 border-top">
                                    <ul class="list-unstyled footer-nav mb-0">
                                        <li class="me-0"><a class="nav-item text-decoration-none d-block" href="../authenticity.html">Black Line</a></li>
                                        <li class="me-0"><a class="nav-item text-decoration-none d-block" href="../authenticity.html">Gold Line</a>
                                        </li>
                                        <li class="me-0"><a class="nav-item text-decoration-none d-block" href="../authenticity.html">Silver Line</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-12 mb-0 mb-lg-0">
                    <div class="contact-info">
                        <p class="contact-detail justify-content-center justify-content-lg-start">
                            <svg width="20" height="20">
                                <use href="./assets/images/icons.svg#icon-location"></use>
                            </svg>
                            <a href="#" class="text-white">DAS Tower, Lazimpat, 44600, Kathmandu, Nepal</a>
                        </p>
                        <p class=" contact-detail justify-content-center justify-content-lg-start">
                            <svg width="20" height="20">
                                <use href="./assets/images/icons.svg#icon-phone"></use>
                            </svg>
                            <a href="tel:+977-9808111174" class="text-white">+977-9808111174</a>
                        </p>
                        <p class=" contact-detail justify-content-center justify-content-lg-start">
                            <svg width="20" height="20">
                                <use href="./assets/images/icons.svg#icon-email"></use>
                            </svg>
                            <a href="mailto:leodlibra@gmail.com" class="text-white">leodlibra@gmail.com</a>
                        </p>
                    </div>
                    <div class="social-links justify-content-center justify-content-lg-start">
                        <a href="/"
                           class="social d-flex align-items-center justify-content-center text-white text-decoration-none">
                            <svg height="20" width="20">
                                <use href="./assets/images/icons.svg#icon-instagram"></use>
                            </svg>
                        </a>
                        <a href="/"
                           class="social d-flex align-items-center justify-content-center text-white text-decoration-none">
                            <svg height="20" width="20">
                                <use href="./assets/images/icons.svg#icon-facebook"></use>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright d-flex flex-lg-row flex-column justify-content-between align-items-center row-gap-md-3 row-gap-2">
            <div class="section-left text-white small">
                Copyright &copy; 2025 - All Rights Reserved
            </div>
            <div class="section-right text-white small">
                Powered By ⚡ NepNutrition
            </div>
        </div>
    </div>
</footer>