<footer class="footer text-white">
    <div class="wrapper">
        <div class="main-container py-5">
            <div class="row text-center text-md-center">
                <div class="col-12 col-lg-2 d-flex align-items-start footer-logo-wrapper">
                    <img src="../assets/images/logo.jpg" alt="NepNutrition" class="img-fluid footer-logo">
                </div>
                <div class="col-lg-3 col-md-6 col-12 mb-4 mb-lg-0">
                    <p class="fw-medium">Quick Links</p>
                    <ul class="list-unstyled footer-nav mb-0">
                        <li class="me-0"><a class="nav-item text-decoration-none" href="/news">News</a></li>
                        <li class="me-0"><a class="nav-item text-decoration-none" href="/authenticity">Authenticity</a>
                        </li>
                        <li class="me-0"><a class="nav-item text-decoration-none" href="/authenticity">Insights</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-6 col-12 mb-5 mb-lg-0">
                    <p class="fw-medium">Categories</p>
                    <ul class="list-unstyled footer-nav mb-0">
                        <li class="me-0"><a class="nav-item text-decoration-none" href="/news">Black Line</a></li>
                        <li class="me-0"><a class="nav-item text-decoration-none" href="/authenticity">Gold Line</a>
                        </li>
                        <li class="me-0"><a class="nav-item text-decoration-none" href="/authenticity">Silver Line</a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-4 col-12 mb-0 mb-lg-0">
                    <div class="contact-info">
                        <p class="contact-detail justify-content-center justify-content-lg-start">
                            <svg class="sprite-icon" viewBox="0 0 16 20">
                                <use href="../assets/images/icons.svg#icon-location"></use>
                            </svg>
                            <a href="#" class="text-white">DAS Tower, Lazimpat, 44600, Kathmandu, Nepal</a>
                        </p>
                        <p class=" contact-detail justify-content-center justify-content-lg-start">
                            <svg class="sprite-icon" viewBox="0 0 16 20">
                                <use href="../assets/images/icons.svg#icon-phone"></use>
                            </svg>
                            <a href="tel:+977-9808111174" class="text-white">+977-9808111174</a>
                        </p>
                        <p class=" contact-detail justify-content-center justify-content-lg-start">
                            <svg class="sprite-icon" viewBox="0 0 15 13">
                                <use href="../assets/images/icons.svg#icon-email"></use>
                            </svg>
                            <a href="mailto:leodlibra@gmail.com" class="text-white">leodlibra@gmail.com</a>
                        </p>
                    </div>
                    <div class="social-links justify-content-center justify-content-lg-start">
                        <a href="/"
                           class="social d-flex align-items-center justify-content-center text-white text-decoration-none">
                            <i class="fa-brands fa-instagram"></i>
                        </a>
                        <a href="/"
                           class="social d-flex align-items-center justify-content-center text-white text-decoration-none">
                            <i class="fa-brands fa-facebook-f"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright d-flex flex-lg-row flex-column justify-content-between align-items-center row-gap-3">
            <div class="section-left text-white small">
                Copyright &copy; 2025 - All Rights Reserved
            </div>
            <div class="section-right">
                <ul class="list-unstyled small mb-0 footer-nav d-flex flex-wrap mb-0">
                    <li class="mb-0"><a class="text-white nav-item text-decoration-none" href="/about-us">About Us</a>
                    </li>
                    <li><a class="text-white nav-item text-decoration-none" href="/site-map">Site Map</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>