<footer class="footer">
    <div class="wrapper">
        <div class="main-container py-5">
            <div class="row">
                <div class="col-md-2">
                    <img src="../assets/images/logo.jpg" alt="NepNutrition Logo" class="img-fluid" width="165">
                </div>
                <div class="col-md-3">
                    <p class="text-white mb-4 fw-medium">Quick Links</p>
                    <ul class="list-unstyled footer-nav mb-0">
                        <li class="me-0"><a class="nav-item text-decoration-none" href="/news">News</a></li>
                        <li class="me-0"><a class="nav-item text-decoration-none" href="/authenticity">Authenticity</a>
                        </li>
                        <li class="me-0"><a class="nav-item text-decoration-none" href="/authenticity">Insights</a></li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <p class="text-white mb-4 fw-medium">Categories</p>
                    <ul class="list-unstyled footer-nav mb-0">
                        <li class="me-0"><a class="nav-item text-decoration-none" href="/news">Black Line</a></li>
                        <li class="me-0"><a class="nav-item text-decoration-none" href="/authenticity">Gold Line</a>
                        </li>
                        <li class="me-0"><a class="nav-item text-decoration-none" href="/authenticity">Silver Line</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <div class="contact-info">
                        <p class="text-white contact-detail">
                            <svg class="sprite-icon">
                                <use href="../assets/images/icons.svg#icon-location"></use>
                            </svg>
                            <a href="#" class="text-white">DAS Tower, Lazimpat, 44600, Kathmandu, Nepal</a>
                        </p>
                        <p class="text-white contact-detail">
                            <svg class="sprite-icon" viewBox="0 0 16 20">
                                <use href="../assets/images/icons.svg#icon-phone"></use>
                            </svg>
                            <a href="tel:+977-9808111174" class="text-white">+977-9808111174</a>
                        </p>
                        <p class="text-white contact-detail">
                            <svg class="sprite-icon" viewBox="0 0 15 13">
                                <use href="../assets/images/icons.svg#icon-email"></use>
                            </svg>
                            <a href="mailto:leodlibra@gmail.com" class="text-white">leodlibra@gmail.com</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright d-flex justify-content-between">
            <div class="section-left text-white small">
                Copyright &copy; 2025 - All Rights Reserved
            </div>
            <div class="section-right">
                <ul class="list-unstyled small mb-0 footer-nav d-flex flex-wrap mb-0">
                    <li class="mb-0"><a class="text-white nav-item text-decoration-none" href="/about-us">About Us</a>
                    </li>
                    <li class="mb-0"><a class="text-white nav-item text-decoration-none" href="/site-map">Site Map</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>