<nav class="header">
    <div class="wrapper-fluid">
        <div class="header-container d-flex justify-content-between align-items-center">
            <a class="navbar-brand" href="/">
                <img src="../assets/images/logo.jpg" alt="NepNutrition" class="img-fluid" width="55">
            </a>
            <div class="menu-wrapper">
                <ul class="navbar mb-0 list-unstyled">
                    <li><a href="/" class="nav-item active">HOME</a></li>
                    <li><a href="/products" class="nav-item">PRODUCTS</a></li>
                    <li><a href="/news" class="nav-item">NEWS</a></li>
                    <li><a href="/about-us" class="nav-item">ABOUT US</a></li>
                </ul>
            </div>
            <div class="search">
                <i class="fa-solid fa-magnifying-glass text-white"></i>
            </div>
        </div>
    </div>
</nav>