<div>
    <div class="product-card home d-flex align-items-center">
        <div class="product-info-wrapper ms-auto">
            <div class="product-info">
                <div class="product-image">
                    <img src="../assets/images/lproduct.png" alt="Gold Whey" class="product-image">
                </div>
                <div class="content">
                    <h4 class="product-title text-white fw-medium mb-3">Gold Whey</h4>
                    <p class="product-subtitle text-white mb-2">Gold Standard</p>
                    <p class="product-price text-white fw-medium">NPR XXXX</p>
                    <button class="btn btn-outline-light px-3 py-2">View Product</button>
                </div>
            </div>
        </div>
    </div>
</div>
