<section class="pageBanner position-relative d-flex align-items-center w-100 justify-content-center align-items-center overflow-hidden" id="pageBanner">
    <div class="image-wrapper position-absolute h-100 w-100">
        <img src="../assets/images/pageBannerImage.png" alt="page banner image" class="img-fluid object-fit-cover w-100 h-100">
    </div>
    <div class="content-wrapper text-center text-white position-relative z-2">
        <p class="mb-3 fs-5">@@page</p>
        <h1 class="mb-3 display-4 fw-bold">@@title</h1>
        <h4 class="text-dusty-grey fw-normal fs-5">@@desc</h4>
    </div>
</section>
