<div class="product-card position-relative overflow-hidden d-block">
    <div class="position-relative content-wrapper">
        <div class="img-wrapper text-center">
            <span class="stock text-white px-2">Out of Stock</span>
            <img src="../assets/images/productListing.png" alt="Product card" class="img-fluid">
        </div>
        <div class="info mt-2 d-flex justify-content-between align-items-center">
            <span class="mb-0 text-white fw-medium">@@designation</span>
            <span class="text-white fw-bold">@@name</span>
        </div>
    </div>
    <div class="hover-content text-center w-100">
        <a class="btn btn-burnt-yellow" href="/product-detail.html">View Product</a>
    </div>
</div>
