<div class="testimonial-wrapper">
    <div class="testimonial p-4 position-relative overflow-hidden">
        <div class="d-flex align-items-start flex-sm-row flex-column">
            <div class="img-wrapper position-relative">
                <div class="img">
                    <img src="./assets/images/John-Doe-pfp.jpg" alt="bg-img" class="img-fluid">
                </div>
            </div>
            <div class="content">
                <p class="text-white mb-2 text-sm-start text-center">John Doe</p>
                <p class="text-dusty-grey text-sm-start text-center">Euismod ipsum</p>
                <p class="text-white lh-lg text-sm-start text-center">
                    “There are many variations of passages of Lorem Ipsum available, but the majority have suffered
                    alteration in some form, by injected humour.”
                </p>
            </div>
        </div>
    </div>
</div>
