.contact-details{
  padding: 110px 0;
  .icon{
    height: 48px;
    width: 48px;
  }
}

.map-section{
  margin-top: 210px;
  .map-wrapper{
    iframe{
      margin-top: -210px;
    }
  }
}

.send-letter{
  position: absolute;
  right: 45px;
  top: 20px;
  pointer-events: none;
  width: 175px;
}