.header {
  background-color: var(--npn-young-night);
  padding: 10px;

  &-container {
    margin: 0 2.5rem;
  }

  .menu-wrapper {
    .navbar {
      gap: 3.5rem;

      .nav-item {
        color: #ffffff;
        text-decoration: none;
        font-weight: 600;

        &.active {
          color: var(--npn-burnt-yellow);
        }
      }
    }
  }
}

.footer {
  background-color: var(--npn-young-night);
  &-logo-wrapper {
    justify-content: center;
    @media all and (min-width: 992px) {
      justify-content: flex-start;
    }
    .footer-logo {
      max-width: 10rem;
      margin-bottom: 2rem;
      @media all and (min-width: 992px) {
        justify-content: flex-start;
        max-width: 100%;
        margin-bottom: 0;
      }
    }
  }

  &-nav {
    li {
      &:not(:last-child) {
        margin-right: 1rem;
        margin-bottom: 2rem;
      }

      .nav-item {
        opacity: 0.7;
        transition: ease-in-out all 300ms;
        color: var(--npn-white);

        &:hover {
          opacity: 1;
        }
      }
    }

  }

  .main-container {
    .contact-info {
      .contact-detail {
        gap: 1rem;
        display: flex;
        align-items: center;
        text-align: left;
        a{
          text-decoration: none;
        }
      }
    }
    .social-links{
      display: flex;
      flex-wrap: wrap;
      gap: 1rem;
      margin-top: 2.5rem;
      .social{
        height: 35px;
        width: 35px;
        border-radius: 50%;
        border: 2px solid rgba(var(--npn-white-rgb), 0.25);
        transition: ease-in-out all 300ms;
        &:hover{
          background-color: var(--npn-apple-green);
        }
      }
    }
  }

  .copyright {
    padding: 1.5rem 0 2.3rem 0;
    border-top: 1px solid rgba(var(--npn-white-rgb), 0.25);
    .section{
      &-left{
        opacity: 0.7;
      }
    }
  }
}

.sprite-icon {
  width: 1rem;
  max-height: 1.3rem;
}